# images
*.png
*.jpg
*.jpeg
*.svg

# Office files
*.ods
*.xlsx

# Jupyter notebooks
*.ipynb

# Twitter API key
cast_analysis/Twitter collection/api_key.csv

# Tweet data
cast_analysis/Twitter collection/tweets/*

